:root {
    --font-family-main: "Courier New", "Times New Roman", "Serif";

    // size_m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // size_l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // size_xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // sizes
    --navbar-heigth: 80px;
    --side-bar-width: 300px;
    --side-bar-width-collapsed: 80px;

    // z-index
    --z-index-10: 10;
    --z-index-overlay: -1;

    // overlay-color
    --overlay-color: rgba(0 0 0 / 60%);

    // colors
    --error-color-ligth: #ff0404;
    --error-color-dark: #a20303;
}
