.appLink {
    color: var(--primary-color);
}

.primary {
    color: var(--primary-color);
    text-decoration: none;
}

.secondary {
    color: var(--text-color);
}

.red {
    color: var(--four-color);
}
