.sideBar {
  height: calc(100vh - var(--navbar-heigth));
  background: var(--inverted-bg-color);
  width: var(--side-bar-width);
  transition: width 0.3s;
  position: relative;
}
.collapsed {
  width: var(--side-bar-width-collapsed)
}

.switchers {
  position: absolute;
  bottom: 29px;
  display: flex;
  justify-content: center;
  width: 100%;
}