.sideBar {
  height: calc(100vh - var(--navbar-heigth));
  background: var(--inverted-bg-color);
  width: var(--side-bar-width);
  transition: width 0.3s;
  position: relative;
}
.collapsed {
  width: var(--side-bar-width-collapsed)
}

.switchers {
  position: absolute;
  bottom: 29px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}

.sidebarIcons {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.collapsedIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-evenly;
}

.openSideBar {
  rotation: 180deg;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;

}
.language {
  color: var(--primary-color);
}
