.title {
    font: var(--font-l);
    color: var(--text-color);
}

.text {
    font: var(--font-m);
    color: var(--text-color);
}

.error {
    .text {
        color: var(--error-color-ligth);
    }

    .title {
        color: var(--error-color-dark);
    }
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}