.app.dark {
    --bg-color: #393232;
    --inverted-bg-color: #e1e5ea;
    --primary-color: #4d4545;
    --secondary-color: #8d6262;
    --third-color: #8d6262;
    --four-color: #ed8d8d;

    color: #e1e5ea;

    --text-color: #e1e5ea;
    --inverted-text-color: #000;
}
