.app_default_theme {
    --bg-color: #e1e5ea;
    --inverted-bg-color: #393232;
    --primary-color: #e1e5ea;
    --secondary-color: #8d6262;
    --third-color: #a7bbc7;
    --four-color: #da7f8f;
    --text-color: #393232;
    --inverted-text-color: #e1e5ea;
    --black-text-color: #1c1b1b;
}
