.app_light_yellow_theme {
    --bg-color: #f5fbf4;
    --inverted-bg-color: #7a874f;
    --primary-color: #fbf8f4;
    --secondary-color: #7a874f;
    --third-color: #f5fbf4;
    --four-color: #e6ad55;
    --text-color: #1c1b1b;
    --inverted-text-color: #fbf8f4;
    --black-text-color: #1c1b1b;
    --success-color: rgb(37 103 26 / 70%);
    --cancel-color: #a2a21b;
}
