.navbar {
    width: 100%;
    height: var(--navbar-heigth);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom-right-radius: 10px;
    transition: all 0.4s;
    color: var(--inverted-text-color);
}

.links {
    margin-left: auto;
}

.link {
    fill: var(--bg-color);
}

.loginContainer {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
