.inputContainer {
    min-height: 20px;
}

.input {
    height: 40px;
    background: var(--third-color);
    color: var(--black-text-color);
    border-radius: 5px;
    border: 8px solid transparent;
    margin-bottom: 10px;
    width: 100%;
    opacity: 0.9;
    outline: none;
    caret-color: var(--inverted-bg-color);

    &:focus {
        outline: none;
    }
}

.readonly {
    opacity: 0.7;
}
