.sideBar {
    height: calc(100vh - var(--navbar-heigth) - 10px);
    background: var(--inverted-bg-color);
    width: var(--side-bar-width);
    min-width: var(--side-bar-width);
    transition: all 0.4s;
    position: relative;
    padding-top: 5px;
    border-bottom-right-radius: 30px;
    margin-bottom: 5px;
}

.collapsed {
    width: var(--side-bar-width-collapsed);
    min-width: var(--side-bar-width-collapsed);
    height: calc(100vh - var(--navbar-heigth));
    border-top: 2px solid transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0;
    transition: all 0.4s;
}

.switchers {
    position: absolute;
    bottom: 29px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.sidebarIcons {
    display: flex;
    justify-content: flex-end;
}

.openSideBarIcon {
    display: flex;
    justify-content: flex-end;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 16px;
}

.collapsedIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
}

.openedIcon {
    transform: rotate(180deg);
}

.language {
    color: var(--primary-color);
}
.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--primary-color);
}
.collapsed {
     width: var(--sidebar-width-collapsed);
     .lang {
         margin-left: 0;
     }

     .link {
         opacity: 0;
         transition: 0.2s opacity;
         width: 0;
     }
 }
