.sideBar {
    height: calc(100vh - var(--navbar-heigth) - 10px);
    background: var(--inverted-bg-color);
    width: var(--side-bar-width);
    min-width: var(--side-bar-width);
    transition: 0.4s all;
    position: relative;
    padding-top: 5px;
    border-bottom-right-radius: 30px;
    margin-bottom: 5px;
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.switchers {
    position: absolute;
    bottom: 29px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.sidebarIcons {
    display: flex;
    justify-content: flex-end;
}

.openSideBarIcon {
    display: flex;
    justify-content: flex-end;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 16px;
    fill: var(--primary-color);
}

.collapsedIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-evenly;
}

.openedIcon {
    transform: rotate(180deg);
}

.language {
    color: var(--primary-color);
}

.items {
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-evenly;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    min-width: var(--side-bar-width-collapsed);
    height: calc(100vh - var(--navbar-heigth));
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0;
    transition: 0.4s all;

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.4s all;
        width: 0;
    }
}
