.profileCard {
    margin: 20px;
    padding: 50px;
    width: 50%;
    height: 40%;
    border: 2px solid var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--bg-color);
    border-radius: 5px;
}

.input {
    margin: 10px 0;
}
.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}