.profileCard {
    padding: 20px;
    border: 1px solid var(--inverted-bg-color);
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    width: 600px;
    height: 350px;
    color: var(--text-color);
}

.input {
    margin-top: 5px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.editing {
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--text-color);
}
