.code {
    border: 1px solid var(--inverted-bg-color);
    padding: 20px;
    position: relative;
    background: var(--code-bg-color);
    overflow: auto;
    border-radius: 5px;
    font-size: 14px;
}

.copyBtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.icon {
    fill: var(--primary-color);
    margin-top: 6px;
}
